.border{

    border: 5px solid black;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 10px;
    box-shadow:  5px 7px silver;
    margin: 5px
    
}


nav{ 
    position: sticky;
    top: 20px;
    text-align: center;
    text-shadow: 2px 2px silver;
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    font-style: normal;
    color: aquamarine;
    
}

nav > a {
    margin: 20px;

}
.left{
   
    float: left;
    width: 50%;
    text-shadow: 2px 2px silver;
    
}
.right{
    
    float: right;
    width: 50%; 
    text-shadow: 2px 2px silver; 

}

footer{

    clear: both;
    text-shadow: 2px 2px silver;
}

section, article {

    height: 150px;
    text-shadow: 2px 2px silver;
    text-size-adjust: 25;
}

aside{
    
    height: 306px;
    
}

body {
    text-align: center;
    text-shadow: 2px 2px silver;
    background-image: url("stance.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    padding: 20px 40px;
    text-decoration: none;
    font-style: normal;
    color: darkslategray;
    height: 150vh;
}


a{

    color: aquamarine;

    
   

}

a:link{

    text-decoration: none;
}



body a:hover:not(.active) {

    color: red;
    background-color: black;

       

}











